h1{
    color: blue;
    text-align: center;
}

body
{
    background-color: azure;  
}

#calculatorlayout
{
    background-color: rgb(33, 91, 141);
} 

#display
{
    height: 50px;
    width: 60%;
    border-width: 3px;
    background-color: rgb(160, 186, 120);
    font-size: 200%;
    text-align: right;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

#buttonlayout
{
    display: flex;
    justify-content: center;
}

.numberbuttons input[type="button"]
{
    width: 70px;
    height: 85px;
    font-size: 200%;
    border-width: 4px;
    background-color: rgb(156, 235, 223);
    margin-bottom: 3px;
}


.operatorbutton input[type="button"]
{
    width: 80px;
    height: 85px;
    font-size: 200%;
    margin-left: 20px;
    border-width: 4px;
    background-color: rgb(156, 197, 235);
    margin-bottom: 3px;
}

.operatorbutton2 input[type="button"]
{
    height: 170px;
    width: 80px;
    font-size: 200%;
    margin-left: 20px;
    padding: 20px;
    border-width: 4px;
    background-color: rgb(156, 197, 235);
    margin-bottom: 3px;
}