h1{
    color: blue;
    text-align: center;
    font-family: 'Barlow', sans-serif;
}

body
{
    background-color: azure;
    display: grid;
    justify-content: center;
}

#calculatorlayout
{
    display:grid;
    justify-content: center;
    background-color: rgb(33, 91, 141);
    border-width: 20px;
    border-radius: 5%;
    width: 450px;
    height: 550px
} 

#display
{
    height: 50px;
    border-width: 4px;
    border-color: rgb(150, 187, 91);
    background-color: rgb(160, 186, 120);
    font-size: 200%;
    text-align: right;
    margin-top: 20px;
    border-radius:5%;
}

input[type="button"]
{
    border-radius: 15%;
    border-width: 4px;
    border-color: black;
    width: 70px;
    height: 85px;
    margin-bottom: 3px;
    font-size: 200%;
}

.numberbutton
{
    background-color: rgb(156, 235, 223);
}

.operatorbutton
{
    background-color: rgb(156, 197, 235);
}